.cancel__content {
  text-align: center;
  padding: 20px;

  .cancel__ph {
    font-size: 24px;
    font-weight: 500;
    color: #07143B;
    margin-bottom: 40px;
  }
  .btns {
    column-gap: 24px;

    .btn {
      border: none;
      outline: none;
      font-size: 20px;
      font-weight: 500;
      width: 200px;
      height: 50px;
      max-width: 100%;
    }
  }
}